@using PhotoService.DAL.DTO
@rendermode InteractiveServer
<div class="container-md">
    <div class="card t-bg">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="table-responsive scrollbar mx-n1 px-1">
                        <table class="table table-sm fs-9 mb-0">
                            <thead>
                            <tr>
                                <th class="tb-item p-1 text-900 sort pe-1 align-middle text-nowrap" data-sortable="true">ФИО</th>
                                <th class="tb-item p-1  text-nowrap" scope="col">Вид деятельности</th>
                                <th class="tb-item p-1  text-nowrap" scope="col">Контакты</th>
                                <th class="tb-item p-1  text-nowrap" scope="col">Портфолио</th>
                                <th class="tb-item p-1  text-nowrap" scope="col">Описание</th>
                                <th class="tb-item p-1  text-nowrap">Статус</th>
                                
                            </tr>
                            </thead>
                            <tbody class="list">

                            @if (true)
                            {
                                @foreach (var user in _users)
                                {
                                    <tr>
                                        <th >
                                            <p class="tb-item-1 mb-1" style="white-space: normal!important;">@user.Name</p>
                                        </th>

                                        <td>
                                            <p class="tb-item-1 mb-1 ">
                                                @((user.Specialization?.Title) ?? "Нет специализации")
                                            </p>
                                        </td>

                                        <td>
                                            <div class="flex-column">
                                                <p class="tb-item-1 mb-1">Электронная почта: @(user?.Mail ?? "Не указан")</p>
                                                <p class="tb-item-1 mb-1">Телефон: @(user?.Phone ?? "Не указан")</p>
                                            </div>
                                        </td>

                                        <td>
                                            <a class="tb-item-1 mb-1" href="@user.URL">@user.URL</a>
                                        </td>

                                        <td>
                                            <p class="tb-item-1 mb-1">
                                                @(user.Dossier ?? "Описание не указано")
                                            </p>
                                        </td>
                                        <td>
                                            @if (user.IsBlocked == false)
                                            {
                                                <p class="tb-item-1 mb-1" style="color: #4CAF50">Активный</p>
                                            }
                                            else
                                            {
                                                <p class="tb-item-1 mb-1" style="color: #DC3545">Заблокированный</p>
                                            }
                                           
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <td colspan="12">
                                    <p class="text">Список исполнителей пуст</p>
                                </td>
                            }

                            </tbody>
                        </table >
                    </div >
                </div>
            </div>
        </div>
    </div >
</div>

@code {
    private List<UsersOutputModel> _users;
    private UserClient _userClient;

    public ListExecutorsTable()
    {
        _userClient = new UserClient();
    }

    protected override void OnInitialized()
    {
        _users = _userClient.GetAllExecutors();
    }

}

<style>
    .table{
    overflow: auto;
    table-layout: auto !important;
    }
</style>