@using IServiceClient = PhotoService.BLL.IClients.IServiceClient
@inject NavigationManager NavigationManager

<div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
    @foreach (var s in _service)
    {
        <div class="col card-col">
            <div class="card">
                <img src="Resources/Service.png" class="card-img-top" alt="Service" style="background-color: @GenerateRandomColor()">
                <div class="card-body">
                    <div class="header-card">
                        <h5 class="card-title">@s.Title</h5>
                    </div>

                    <h6 class="card-subtitle mb-2 text-secondary">@s.ExecutorName</h6>
                    <p class="card-text text-hide">@s.Description</p>
                    <p class="price">@s.Price</p>

                    <div class="footer-card">
                        <small class="text-body-secondary">@s.TypeName</small>
                        <div class="row-btn">

                            <a href="" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-@s.Id">Заказать</a>

                            <div class="modal fade" id="exampleModal-@s.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <AddOrderForMainPageModal Service="s"></AddOrderForMainPageModal>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    
    private List<ServiceOutputModel> _service;
    private IServiceClient _serviceClient = new ServiceClient();
    private ServiceOutputModel _serviceId = null!;
    
    [Parameter] 
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        _service = _serviceClient.GetAllServices();
    }
    
    private string GenerateRandomColor()
    {
        Random random = new Random();
        int red = random.Next(0, 256);
        int green = random.Next(0, 256);
        int blue = random.Next(0, 256);

        return $"rgb({red}, {green}, {blue})";
    }
    
}

<style>
    .price {
        font-size: 1rem;
        font-weight: 600;
        color: #56BA18;
        padding: 0;
    }
    small{
        color: #8D8E90;
    }
</style>